<%-include("partials/header")-%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="composeTitle">
    <label class="postLabel">Post</label>
    <textarea class="form-control" rows="5" name="composePost"></textarea>
    <button class="btn btn-primary" type="submit" name="publish">Publish</button>
  </div>
</form>



<%-include("partials/footer")-%>
